.tile {
  height: 200px;
  border: 2px solid black;
  background-color: aquamarine;
}

.symbol {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 12rem;
  font-family: cursive;
}

.corner-radius-0 {
  border-top-left-radius: 40px;
}

.corner-radius-2 {
  border-top-right-radius: 40px;
}

.corner-radius-6 {
  border-bottom-left-radius: 40px;
}

.corner-radius-8 {
  border-bottom-right-radius: 40px;
}

@media (max-width: 600px) {
  .tile {
    height: 100px;
  }

  .symbol {
    font-size: 6rem;
  }
}

.tile:hover {
  background-color: rgba(127, 255, 212, 0.555);
  cursor: pointer;
}
